<!DOCTYPE html>
<% render :layout => false %>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>

		<div id="logo">
		  <a href="/events">
		  	<img class="shadowfilter" src="assets/logo_3_black.jpg" />
		  </a>
		  
		</div>

	</body>
</html>

