// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.event-info-small img{

	height: 300px;

}




.event-info-small {

	height: 500px;

}

.event {

	background-color: white;
	color: black;
	padding: 1% 1%;
}

.user-small {

	border-color: yellow;
}
