// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-info {

	background-color: white;
	color: black;
	padding: 1% 1%;

}


.event-time{

	text-align: center;

}

.event-date{

	text-align: center;
	font-weight: bold;
}