<% if user_signed_in? %>

	
	<div class="navbar-header">
		<%= link_to 'My Profile', user_profile_path(current_user.id), class: "navbar-brand" %>
	</div>
		
	<% if Conversation.first != nil %>

		<div class="navbar-header">
			<%= link_to 'Messages', conversation_messages_path(conversation_id: Conversation.first.id), class: "navbar-brand"    %>
		</div>

	<% end %>



<% end %>