<% if user_signed_in? %>

	
	<div class="navbar-header">
		<%= link_to 'My Profile', user_profile_path(current_user.id), class: "navbar-brand" %>
	</div>
	
	<div class="navbar-header">
		<%= link_to 'Messages', conversations_path, class: "navbar-brand" %>
	</div>



<% end %>